@model IEnumerable<AuthorizationServer.Models.AppModel>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Add new role", "RoleAddOrEdit")
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayName("Role name")
        </th>
        <th>
            @Html.DisplayName("PermissionGroup name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Content/images/role-icon.png" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermissionGroupName)
        </td>
        <td>
            @Html.ActionLink("Edit Role", "RoleAddOrEdit", new { id = item.RoleID })<br />
            @Html.ActionLink("View Permissions", "ViewPermissionsByRole", new { id=item.RoleID })<br />
            @Html.ActionLink("View Users", "ViewUsersByRole", new { id=item.RoleID })<br />
            @Html.ActionLink("Delete Role", "DeleteRole", new { id=item.RoleID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Go Back", null, null, null, new { href = Request.UrlReferrer })
</div>
